extends layout
block content 
    h1 Administrator Dashboard  
    .stats
        .card
            h3 Parking Revenue
            p UGX #{parkingRevenue.toLocaleString()}
        .card
            h3 Battery Section
            p UGX #{batteryRevenue.toLocaleString()}
        .card
            h3 Tyre Clinic
            p UGX #{tyreRevenue.toLocaleString()}
        .card.grand
            h3 Total Revenue
            p UGX #{grandTotal.toLocaleString()}
     
    form.dateFilter(action="/admin" method="GET")   
            div
                label(for="dateFilter") Filter by Day:
                input#dateFilter(type="date" name="date" value=selectedDate)
            div
                button.btn-submit(type="submit") 
                    i.fa-solid.fa-filter.me-1
                    | Filter
    h2 Signed-Out Vehicles for #{selectedDate}
        p.underline
    table
        thead
            tr
                th Receipt No.
                th Receiver Name
                th Vehicle Plate
                th Sign-Out Time
                th Amount Paid
        
        tbody
            if signedOutVehicles && signedOutVehicles.length > 0
                each record in signedOutVehicles
                    tr
                        td #{record.receiptNumber}
                        td #{record.receiverName}
                        td #{record.vehicleId.numberPlate}
                        td= new Date(record.signoutTime).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})
                        td UGX #{record.amountPaid.toLocaleString()}
                else
                    tr
                        td No vehicles were signed out on this date.
        script(src='javaScript/report.js')
