extends layout
block content 
    .admin-dashboard
    .admin-dashboard1
        .registerUser
        h1 Administrator Dashboard
        .text-center.mt-4
            p.mb-0.text-muted
              a.text-decoration-none.fw-semibold(href='/auth/signup')
                button.btn-submit Register User    
    .stats
        .card
            h3 Parking Revenue
            p#parkingTotal 0 UGX
        .card
            h3 Battery Section
            p#batteryTotal 0 UGX
        .card
            h3 Tyre Clinic
            p#tyreTotal 0 UGX
        .card.grand
            h3 Total Revenue
            p#grandTotal 0 UGX
    h2.userDetails All Users
    table
        thead
            tr
                th First Name
                th Last Name
                th Email
                th PhoneNumber
                th Role
        tbody
            if users.length 
                each user in users 
                    tr
                        td #{user.firstName}
                        td #{user.lastName}
                        td #{user.email}
                        td #{user.phoneNumber}
                        td #{user.role}
            else 
                tr 
                    td No users found 
        script(src='javaScript/report.js')
