extends layout
block content
  form#batteryTransaction(method='post' action='/batteryServices')
    div.form-card
      div.batteryDetails
        h2 Battery Details
        p.underline
        label(for='batteryId') Select Battery
        select#batteryId(name="batteryId")
          option(value="" selected disabled) Choose battery
          if batteries && batteries.length > 0
            each battery in batteries
                option(value=battery._id ) #{battery.batteryType} - #{battery.batterySize} (Hire: #{battery.hire}, Sale: #{battery.sale})
        label(for='transactionType') Transaction Type
        select#transactionType(name="transactionType")
          option(value="") Select Transaction
          option(value="Hire") Hire
          option(value="Sale") Sale
        label(for='numberPlate') Number Plate
        input#numberPlate(type='text' name='numberPlate')
        label(for='price') Price
        input#price(type='text' name='price')

      div.driverDetails
        h2 Customer Details
        p.underline
        label(for='name') Customer Name
        input#name(type='text' name="name")
        label(for='phoneNumber') Phone Contact
        input#phoneNumber(type='text' name="phoneNumber")
      div#resultMessage
    button.btn-submit(type='submit') Confirm Service
  script(src="/js/batteryTransactionValidation.js")
