extends layout
block content
    div
        h4 Fee calculation and Signout 
        div.signoutConfirm.signoutTemplate
            div.highlights
                p Vehicle:
                p #{vehicle.vehicleType} (#{vehicle.numberPlate})
            div.highlights
                p Arrival Time: 
                p= new Date(vehicle.arrivalTime).toLocaleString()
            div.highlights
                p Amount Due: 
                p UGX #{fee.toLocaleString()}
        div.form-card 
            form(method='post' action='/signout/confirm')
                div.attendantDetails
                    h2 Confirm Signout
                    p.underline
                    input(type="hidden" name="receiptNumber" value=vehicle.receiptNumber)
                    input(type="hidden" name="vehicleId" value=vehicle._id)
                    input(type="hidden" name="amountPaid" value=fee)
                    label(for='receiverName') Receiver Name
                    input#receiverName(type='text' placeholder='John' name='receiverName')
                    label(for='phone') Phone Number
                    input#phone(type='tel' placeholder='+256 700 000000' name='phoneNumber')
                    label(for='gender') Gender
                    select#gender(name="gender")
                        option(value="") Select your gender
                        option(value="Male") Male 
                        option(value="Female") Female   
                    label(for='ninNumber') NIN Number
                    input#ninNumber(type='text' placeholder='••••••••' name='ninNumber')
                button.btn-submit(type='submit') Confirm Signout
        script(src='')
